.bodyForgotPassword {
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.forgotPasswordContainer {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #2b2b2b;
    margin-bottom: 1.5rem;
}

.formContainer {
    display: block;
}

.formGroup {
    margin-bottom: 1rem;
    text-align: left;
}

.labelForgotPassword {
    display: block;
    margin-bottom: 0.5rem;
    color: #4a4a4a;
}

input[type="email"].inputForgotPassword, input[type="password"].inputForgotPassword {
    width: 100%;
    padding: 0.8rem;
    border: solid 1px #2b2b2b;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #4a4a4a;
}

input[type="email"].inputForgotPassword:focus, input[type="password"].inputForgotPassword:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);
}

button.forgotPasswordBtn {
    width: 100%;
    padding: 0.8rem;
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.forgotPasswordBtn:hover {
    background-color: #4a4a4a;
}

.links {
    margin-top: 1rem;
}

.links a {
    color: #2b2b2b;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #007fff;
}